---
volume_attachment_id: {{ volume_attachment_id }}
volume_id: {{ volume_id }}
instance_id: {{ instance_id }}
instance_subnet_id: {{ instance_subnet_id }}
instance_security_list_ocid: {{ instance_security_list_ocid }}
rt_id: {{ rt_id }}
ig_id: {{ ig_id }}
vcn_id: {{ vcn_id }}
public_ip: {{ instance_public_ip }}